.container {
    display: flex;
    width: 100%;
    min-height: 500px;
    align-items: center;

    .form {
        display: block;
        margin: auto;
        width: 30%;

        .header {
            text-align: center;

            .title {
                font-size: 30px;
                font-weight: bolder;
                margin-bottom: 20px;
            }

            .description {
                font-size: larger;
                margin-bottom: 40px;
            }
        }

        .body{
            .item{
                display: flex;
                margin: 20px 0;
                justify-content: center;
                .login{
                    color: aliceblue;
                    font-weight: bolder;
                    background-color: rgb(21, 21, 21);
                }
            }
        }
    }
}