.container {
  width: 100%;
  display: flex;
  position: relative;

  .sideBar {
    width: 23%;
  }

  .header {
    position: relative;
    min-height: 15vh;
    margin: 20px 0 0;
  }

  .content {
    width: 75vw;
  }
}
body {
  background-color: rgb(245, 245, 245);
}
