.table {
  margin-top: 20px;
  padding-top: 50px;
  position: relative;
  .tableHeader {
    border-radius: 10px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -3%;
    left: 2.5%;
    width: 95%;
    background-color: rgb(152, 152, 152);
    .tableHeaderText {
      margin-left: 50px;
      font-size: large;
      font-weight: bolder;
    }
    .dateRange {
      position: relative;
      .calendar {
        border-radius: 10px;
        background-color: aliceblue;
        padding: 0 10px 10px 10px;
        margin-right: 10px;
        .datePicker {
          background-color: aliceblue;
        }
      }
      .calendarText {
        margin-left: 10px;
      }
    }
    .textInput {
      margin-right: 20px;
      padding: 10px;
      border-radius: 10px;
      width: 400px;
      background-color: aliceblue;
    }
    .floorContainer {
      display: flex;
      align-items: center;
      font-weight: bolder;
      .floor {
        margin: 0 10px 0 10px;
        border-radius: 10px;
        background-color: aliceblue;
      }
    }
  }
  .tableContent {
    padding-top: 30px;
  }
}

.pagination {
  padding: 20px 0;
}
